/*aqui se agregraron diferentes propiedades las cuales son para dar colores a el proyecto...*/
:root{
    --theme-color:white;
    --primary-color:#124f88;
    --secundary-color:#f7c331;
    --text-color-inverse:white;
    --text-color:black;
    --navbar-shallow-color:#e5e5e5;
    --menu-mobile-background-color:#3a4460;

} 
/*aplico las propiedades que le permiten cambiar tamaños de fuentes y estilos de letra 
y organizar el elemento en el lugar deseado...*/

body{
    font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
background-color: var(--theme-color);
color: var(--text-color);
padding-top: 70px;
}
/* aplico  el desvanesido en el elemento.... */
a{
    text-decoration: none;
    color: var(--text-color);
}